.MainBoardContainer {
  background-color: #262729;
  margin: 15px;
  border-radius: 12px;
  z-index: 10;
  padding: 20px;
  height: 82vh;
  display: flex;
  flex-direction: column;
  gap: 12px;

  ::-webkit-scrollbar {
    display: none;
  }
  .BoardStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    p {
      color: white;
      font-size: 18px;
      span {
        color: #a3a2a3;
      }
    }
    img {
      cursor: pointer;
      height: 28px;
      width: 28px;
      transition-duration: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .allBoardsContainer {
    height: 100%;
    overflow: scroll;
    border: 1px solid pink;
    .singleBoard {
      background-color: #2a2b2d;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
      padding: 10px 15px;
      margin: 15px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        border-color: #6262ff;
        transform: translateY(-3px);
      }

      .singleBoardLeft {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .singleBoardLeftTitle {
          font-size: 22px;
          font-weight: 600;
          color: #fff;
        }
        .singleBoardLeftDesc {
          color: white;
          font-size: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .singleBoardLeftCreated {
          font-size: 12px;
          color: white;
        }
      }

      .singleBoardRight {
        span {
          background: #272727;
          padding: 6px 12px;
          border-radius: 8px;
          font-size: 14px;
          color: #aaa;
        }
      }
    }
  }

  .addBoard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 10px;
    margin-top: 10px;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    background-color: #2a2b2d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      //   background: #1a1aff;
    }
    .boardTitleInput {
      width: calc(100% - 28px);
      padding: 12px 14px;

      background: #1a1a1a;
      border: 1px solid #333;
      border-radius: 8px;
      color: #fff;
      font-size: 18px;
      transition: 0.2s ease;

      &::placeholder {
        color: #888;
        font-size: 16px;
      }

      &:focus {
        border-color: var(--dark-shadow-color);
        box-shadow: 0 0 6px var(--dark-shadow-color);
        outline: none;
      }

      &:hover {
        border-color: #555;
      }
    }
    .board-description {
      width: calc(100% - 28px);
      padding: 10px 14px;
      border-radius: 8px;
      border: 1px solid #555;
      background: #222;
      color: #fff;
      font-size: 16px;
      resize: none; // stops the ugly drag resize handle

      &:focus {
        border-color: var(--dark-shadow-color);
        outline: none;
      }
    }
    .boardAddButton {
      padding: 12px 22px;
      background: var(--primary-color);
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        background: #383838;
        transform: translateY(-2px);
        box-shadow: 0 0 10px #222;
      }

      &:active {
        transform: scale(0.96);

        box-shadow: inset 0 0 8px #222;
      }

      &:disabled {
        background: #444;
        color: #777;
        cursor: not-allowed;
      }
    }
  }
}
