.DashBoardContainer {
  background-color: #2a2a2a;
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  // display: grid;
  // grid-template-columns: 2fr 6fr;

}
@media (max-width: 1200px) {
  // .DashBoardContainer {

  //   height: calc(100vh - 65px);
  //   grid-template-columns: 2fr 5fr;
  // }
}

@media (max-width: 1024px) {
  .DashBoardContainer {
    flex-direction: column;

   
  }
}
